*
    margin 0
    padding 0

.movie
    &-head
        height 40px
        line-height 40px
        background-color #1e2025
        color  #ffffff
        padding 0 10px
        display flex
        .iconfont
            width 16px
        .title
            flex 1
            text-align center
    &-info
        padding 15px
        background-color #1e2025
        &__desc
            display flex
            .info-pic
                width 122px
                height 165px
                img 
                    width 100%
            .info-container
                flex 1
                color #9b9da2
                font-size 12px
                margin-left 10px
                .name
                    color #ffffff
                    font-size 24px
                    font-weight bold
                .type
                    margin-top 10px
                    font-size: 14px
                .timer,play_time
                    font-size: 14px
                .btn-wrap
                    display flex
                    margin-top 10px
                    .flex
                        flex 1
                        background-color #58585b
                        height 32px
                        line-height: 32px
                        color: #fffff
                        text-align: center
                        border-radius: 4px
                        &:first-child
                            margin-right 10px
                        .iconfont
                            font-size: 14px