$db_bgc = "#f7f7f7"

.db_staticNav
    background-color
    $db_bgc
    display flex
    width 100%
    align-content center
    margin-top 50px
    padding 0 18px
    height 60px
    justify-content 
    space-between